@font-face {
    font-family: "KIDCOOL DRAGON";
    src: local("KIDCOOL DRAGON"), url(../FONT/KIDCOOL\ DRAGON.ttf);
  }
  h1 {
    font-family: "KIDCOOL DRAGON";
  }
  
  div {
    background-image: url(../IMG/Everest.jpg);
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    width: 1000px;
    height: -webkit-fill-available;
    padding: 15px;
    border: 3px solid red;
    background-size: cover;
    height: 600px;
  }
  li
  {
      display:inline;
      padding: 5px;
      color: rgb(0, 0, 0);
      margin-right: 10px;
  }
  .ocell {
    width: 290px;
    height: 387px;
    margin: auto;
    float: left;
    border: solid green;
  }